{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next($|/)",
    "^[a-zA-Z0-9]",
    "^@/global/(.*)$",
    "^@/features/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/(.*)$",
    "^lucide-react$",
    "^[./]",
    ".(css|scss|sass)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderGroupNamespaceSpecifiers": true
}